.custom-background {
    background-image: url(./images/WhereITrello-final.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: grey; 
  }

  .custom-container {
    padding: 20px; 
  }

  .form-label {
    font-size: 20px;
    margin-bottom: 10px; 
  }

  .form-group input[type="text"] {
    font-size: 18px; 
    margin-bottom: 15px; 
  }
  .add-task{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center
  }